:root {
    --loan-box-bg: rgb(182, 182, 182);
    --loan-text: #778db2;
}
.loan-calculator-box {
    border: 6px solid var(--loan-box-bg);
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.loan-calculator-box div {
    display: flex;
    width: 100%;
    gap: 20px;
}


.loan-box-header {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    color: var(--loan-text);
}

.loan-header i {
    font-size: 40px;
}


.loan-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.loan-header input {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: var(--loan-box-bg);
}

.loan-header label {
    width: 100%;
}

.loan-header span {
    color: var(--loan-text);
}