.section-flex-center-100 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

.section-flex-center-50 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50dvh;
}

.flex {
    display: flex;
}

/*flex-center*/
.flex-center {
    display: flex;
    justify-content: center;
}

.flex-al {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*height*/
.minheight100 {
    min-height: 100dvh;
}

.height100 {
    min-height: 100dvh;
}
.height90 {
    min-height: 90dvh;
}
.height70 {
    min-height: 70dvh;
}
.height60 {
    min-height: 60dvh;
}
.height50 {
    min-height: 50dvh;
}
.height40 {
    min-height: 40dvh;
}
.height30 {
    min-height: 30dvh;
}


/*gap*/
.gap50 {
    gap: 50px;
}
.gap40 {
    gap: 40px;
}
.gap30 {
    gap: 30px;
}
.gap20 {
    gap: 20px;
}

/*structure*/
.structure {
    width: 80%;
}


@media only screen and (max-width: 600px) {
    .structure {
      width: 100% !important;
      padding: 20px;
    }
  }
